In [19]:
import pandas as pd
df = pd.read_csv('Salary_dataset.csv')
df_drop = pd.read_csv('Salary_dataset.csv')#Used to perform dropna, where null values will be discarded
df_fill = pd.read_csv('Salary_dataset.csv')#Used to perform fillna, where null values will be replaced by mean

In [22]:
df_drop.dropna(inplace = True)#Null values are removed

In [23]:
print(df_drop)

    YearsExperience    Salary Gender
0               1.2   39344.0      M
1               1.4   46206.0      F
2               1.6   37732.0      F
3               2.1   43526.0      F
4               2.3   39892.0      M
5               3.0   56643.0      M
6               3.1   60151.0      M
8               4.0   64446.0      M
9               3.8   57190.0      F
10              4.0   63219.0      M
11              4.1   55795.0      M
12              4.1   56958.0      F
13              4.2   57082.0      F
14              4.6   61112.0      M
15              5.0   12300.0      M
17              5.4   83089.0      F
18              6.0   81364.0      F
19              6.1   93941.0      F
20              6.9   91739.0      M
21              7.2   98274.0      M
22              8.0  101303.0      F
23              8.3  113813.0      F
24              8.8       5.0      M
25              9.1  105583.0      F
26              9.6  116970.0      M
27              9.7  112636.0      F
28             10.4  122392.0      M
29             10.6  121873.0      F
30              5.2   66030.0      M

In [24]:
print(df_fill)

    YearsExperience    Salary Gender
0               1.2   39344.0      M
1               1.4   46206.0      F
2               1.6   37732.0      F
3               2.1   43526.0      F
4               2.3   39892.0      M
5               3.0   56643.0      M
6               3.1   60151.0      M
7               NaN   54446.0      F
8               4.0   64446.0      M
9               3.8   57190.0      F
10              4.0   63219.0      M
11              4.1   55795.0      M
12              4.1   56958.0      F
13              4.2   57082.0      F
14              4.6   61112.0      M
15              5.0   12300.0      M
16              5.2       NaN      M
17              5.4   83089.0      F
18              6.0   81364.0      F
19              6.1   93941.0      F
20              6.9   91739.0      M
21              7.2   98274.0      M
22              8.0  101303.0      F
23              8.3  113813.0      F
24              8.8       5.0      M
25              9.1  105583.0      F
26              9.6  116970.0      M
27              9.7  112636.0      F
28             10.4  122392.0      M
29             10.6  121873.0      F
30              5.2   66030.0      M

In [25]:
x = df_fill['YearsExperience'].mean()
y = df_fill['Salary'].mean()
df_fill['YearsExperience'].fillna(x, inplace = True)
df_fill['Salary'].fillna(y, inplace = True)
#Null values are replaced by mean value of the column

In [26]:
print(df_fill)

    YearsExperience    Salary Gender
0               1.2   39344.0      M
1               1.4   46206.0      F
2               1.6   37732.0      F
3               2.1   43526.0      F
4               2.3   39892.0      M
5               3.0   56643.0      M
6               3.1   60151.0      M
7               5.5   54446.0      F
8               4.0   64446.0      M
9               3.8   57190.0      F
10              4.0   63219.0      M
11              4.1   55795.0      M
12              4.1   56958.0      F
13              4.2   57082.0      F
14              4.6   61112.0      M
15              5.0   12300.0      M
16              5.2   70501.8      M
17              5.4   83089.0      F
18              6.0   81364.0      F
19              6.1   93941.0      F
20              6.9   91739.0      M
21              7.2   98274.0      M
22              8.0  101303.0      F
23              8.3  113813.0      F
24              8.8       5.0      M
25              9.1  105583.0      F
26              9.6  116970.0      M
27              9.7  112636.0      F
28             10.4  122392.0      M
29             10.6  121873.0      F
30              5.2   66030.0      M

In [27]:
#performing astype
df_fill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  31 non-null     float64
 1   Salary           31 non-null     float64
 2   Gender           31 non-null     object
dtypes: float64(2), object(1)
memory usage: 872.0+ bytes

In [29]:
df_fill = df_fill.astype(str)#astype function

In [31]:
df_fill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  31 non-null     object
 1   Salary           31 non-null     object
 2   Gender           31 non-null     object
dtypes: object(3)
memory usage: 872.0+ bytes

In [32]:
#describing dataframe
df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.500000   70501.800000
std           2.794329   31914.932142
min           1.200000       5.000000
25%           3.850000   54783.250000
50%           5.100000   62165.500000
75%           7.800000   97190.750000
max          10.600000  122392.000000

In [40]:
df_gender = pd.get_dummies(df_drop['Gender'])#getting Columns of cleaned dataframe

In [41]:
df_cat = pd.concat([df_drop, df_gender], axis = 1)

In [42]:
print(df_cat)

    YearsExperience    Salary Gender  F  M
0               1.2   39344.0      M  0  1
1               1.4   46206.0      F  1  0
2               1.6   37732.0      F  1  0
3               2.1   43526.0      F  1  0
4               2.3   39892.0      M  0  1
5               3.0   56643.0      M  0  1
6               3.1   60151.0      M  0  1
8               4.0   64446.0      M  0  1
9               3.8   57190.0      F  1  0
10              4.0   63219.0      M  0  1
11              4.1   55795.0      M  0  1
12              4.1   56958.0      F  1  0
13              4.2   57082.0      F  1  0
14              4.6   61112.0      M  0  1
15              5.0   12300.0      M  0  1
17              5.4   83089.0      F  1  0
18              6.0   81364.0      F  1  0
19              6.1   93941.0      F  1  0
20              6.9   91739.0      M  0  1
21              7.2   98274.0      M  0  1
22              8.0  101303.0      F  1  0
23              8.3  113813.0      F  1  0
24              8.8       5.0      M  0  1
25              9.1  105583.0      F  1  0
26              9.6  116970.0      M  0  1
27              9.7  112636.0      F  1  0
28             10.4  122392.0      M  0  1
29             10.6  121873.0      F  1  0
30              5.2   66030.0      M  0  1

In [56]:
#normalization method
df_normal = df.copy()

In [57]:
x = df_normal['YearsExperience'].mean()
y = df_normal['Salary'].mean()
df_normal['YearsExperience'].fillna(x, inplace = True)
df_normal['Salary'].fillna(y, inplace = True)

In [58]:
print(df_normal)

    YearsExperience    Salary Gender
0               1.2   39344.0      M
1               1.4   46206.0      F
2               1.6   37732.0      F
3               2.1   43526.0      F
4               2.3   39892.0      M
5               3.0   56643.0      M
6               3.1   60151.0      M
7               5.5   54446.0      F
8               4.0   64446.0      M
9               3.8   57190.0      F
10              4.0   63219.0      M
11              4.1   55795.0      M
12              4.1   56958.0      F
13              4.2   57082.0      F
14              4.6   61112.0      M
15              5.0   12300.0      M
16              5.2   70501.8      M
17              5.4   83089.0      F
18              6.0   81364.0      F
19              6.1   93941.0      F
20              6.9   91739.0      M
21              7.2   98274.0      M
22              8.0  101303.0      F
23              8.3  113813.0      F
24              8.8       5.0      M
25              9.1  105583.0      F
26              9.6  116970.0      M
27              9.7  112636.0      F
28             10.4  122392.0      M
29             10.6  121873.0      F
30              5.2   66030.0      M

In [59]:
df_normal = df_normal.drop(['Gender'],axis = 1)
print(df_normal)

    YearsExperience    Salary
0               1.2   39344.0
1               1.4   46206.0
2               1.6   37732.0
3               2.1   43526.0
4               2.3   39892.0
5               3.0   56643.0
6               3.1   60151.0
7               5.5   54446.0
8               4.0   64446.0
9               3.8   57190.0
10              4.0   63219.0
11              4.1   55795.0
12              4.1   56958.0
13              4.2   57082.0
14              4.6   61112.0
15              5.0   12300.0
16              5.2   70501.8
17              5.4   83089.0
18              6.0   81364.0
19              6.1   93941.0
20              6.9   91739.0
21              7.2   98274.0
22              8.0  101303.0
23              8.3  113813.0
24              8.8       5.0
25              9.1  105583.0
26              9.6  116970.0
27              9.7  112636.0
28             10.4  122392.0
29             10.6  121873.0
30              5.2   66030.0

In [61]:
for i in df_normal.columns:
    df_normal[i] = (df_normal[i] - df_normal[i].min())/(df_normal[i].max() - df_normal[i].min())

In [63]:
print(df_normal) #normalized form of data

    YearsExperience    Salary
0          0.000000  0.321431
1          0.021277  0.377499
2          0.042553  0.308260
3          0.095745  0.355601
4          0.117021  0.325909
5          0.191489  0.462778
6          0.202128  0.491441
7          0.457447  0.444827
8          0.297872  0.526535
9          0.276596  0.467247
10         0.297872  0.516509
11         0.308511  0.455849
12         0.308511  0.465352
13         0.319149  0.466365
14         0.361702  0.499293
15         0.404255  0.100460
16         0.425532  0.576015
17         0.446809  0.678863
18         0.510638  0.664768
19         0.521277  0.767532
20         0.606383  0.749540
21         0.638298  0.802937
22         0.723404  0.827686
23         0.755319  0.929903
24         0.808511  0.000000
25         0.840426  0.862657
26         0.893617  0.955698
27         0.904255  0.920286
28         0.978723  1.000000
29         1.000000  0.995759
30         0.425532  0.539477